* {
    font-family: 'Comfortaa', cursive;
}

.container {
    margin: 2rem;
    display: flex;
}

.nav-bar {
    text-align: center;
}

.nav-title {
    font-size: 3rem;
}

.search-bar {
    width: 20%;
}

.weather-data {
    width: 80%;
}

.city-data {
    border: 2px solid black;

}

.city-forcast {
    border:black 2px solid black;
}

.card-body {
    margin-left: 1rem;
}

.city-name {
    font-size: 2.5rem;
}


/* UV section
.uv-green {
    color: white;
    background-color: green;
}

.uv-yellow {
    color: black;
    background-color: yellow;
}

.uv-red {
    color: white;
    background-color: red;
} */