/* Change UV color */
#uv-green {
    color: white;
    background-color: green;
}

#uv-yellow {
    color: black;
    background-color: yellow;
}

#uv-red {
    color: white;
    background-color: red;
}