/* * {
    font-family: 'Comfortaa', cursive;
}

.container {
    margin: 2rem;
    display: flex;
}

.nav-bar {
    text-align: center;
}

.nav-title {
    font-size: 3rem;
}

.search-bar {
    width: 20%;
}

.weather-data {
    width: 80%;
}

.city-data {
    border: 2px solid black;

}

.city-forecast {
    border:black 2px solid black;
}

.card-body {
    margin-left: 1rem;
    line-height: 0.1rem;
    display: flex;
}

.city-name {
    font-size: 2rem;
}

.current-temprature {
    font-size: 3rem;
}
 */

#uv-green {
    color: white;
    background-color: green;
}

#uv-yellow {
    color: black;
    background-color: yellow;
}

#uv-red {
    color: white;
    background-color: red;
}